
main h1{
    text-align: center;
    padding-top: 5rem;
    margin-bottom: 2rem;
    text-decoration: underline;
}

main img{
    max-width: 90%;
    border-radius: .5rem;
}

.images{
    display: flex;
    justify-content: center;
    align-items: center;
}

main p{
    color: var(--background);
    background-color: var(--black);
    border-radius: 1rem;
    padding: .5rem;
    margin-inline: 1.2rem;
    margin-block: 1.5rem;
}
